<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<style>
    #input {
    width: 200px; /* Ширина поля в пикселах */
    }
    body {
    margin: 0; /* Убираем отступы */
    }
    .parent {
    margin: 1%; /* Отступы вокруг элемента */
    background: #fff; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    }
    .child {
    border: 3px solid #666; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin: 10px; /* Отступы вокруг */
    }
</style>

<body>
<h1><p align="center">Материалы для 3д-печати</p></h1>
<div class="parent">
    <form action="/routers/material_router/name" method="post">
        <div class="child"><label> Введите название материала: <input type="text" id="input" name="name_material"
                                                                      value=" "></label>
            <button type="submit">Показать</button>
        </div>
    </form>
    <form action="/routers/parameter_router/get_materials_by_parameter_name" method="post">
        <div class="child">
            <p> Запах: <label><input type="checkbox" id="smell"> Без запаха</label></p>
        </div>
        <div class="child"><p> Тип материала: </p>
            <label><input type="checkbox" id="PLA"> PLA</label>
            <label><input type="checkbox" id="PETG"> PETG</label>
            <label><input type="checkbox" id="ABS"> ABS</label>
            <label><input type="checkbox" id="PEEK"> PEEK</label>
        </div>
        <div class="child">
            {% for parameter in parameters %}
            <p>{{ parameter.name_parameter }}, {{ parameter.units }}: <input type="text"
                                                                             id="{{ parameter.id_parameter }}"></p>
            {% endfor %}
            <p align="center">
                <button type="submit">Показать материалы</button>
            </p>
        </div>
    </form>
</div>
</body>
</html>