<!DOCTYPE html>
<html>
<head>
    <title>Materials</title>
</head>
<style>
    body {
    margin: 0; /* Убираем отступы */
    }
    .parent {
    margin: 10%; /* Отступы вокруг элемента */
    margin-top: 1%; /* Отступ сверху элемента */
    background: #fff; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    }
    .child {
    border: 3px solid #666; /* Параметры рамки */
    padding: 30px; /* Поля вокруг текста */
    margin: 5px; /* Отступы вокруг */
    }
</style>
<body>
<div class="parent">
    <h1><p align="center">Материалы для 3д-печати</p></h1>
    <ul>
        {% for material in materials %}
        <div class="child">
            <li>
                <p>ID: {{ material.id_material }}</p>
                <p>Название: <a href="/routers/parameter_router/parameters/{{ material.id_material }}">{{ material.name_material }} </a></p>
                <p>Цена: {{ material.price }} р.</p>
                <p>ГОСТ: {{ material.name_gost }}</p>
                <p>Наличие запаха: {{ material.degree_smell }}</p>
                <p>Производитель: {{ material.name_manufacturer }}</p>
                <p>Страна производства: {{ material.country }}</p>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>

</body>
</html>